.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  
}
  
.sider {
  padding-top: 20px;
  background: none;
  flex:1;
}

  
.content {
  background: none;
  flex: 2;
  overflow: auto;
}
  
/* Медиа-запросы для мобильных устройств */
@media (max-width: 768px) {
  .app-layout {
    flex-direction: column;
  }
}